{{extend 'layout.html'}}

{{block center}}
{{if session.auth.user.funcao == 'admin':}}
<a id="button" class="btn btn-primary" href="{{=URL('initial','emprestimo_total_admin')}}" style="margin-left: 1050px; margin-top: -50px; margin-bottom: 5px;"><i class="icon-share-alt icon-white"></i> Voltar</a>
{{pass}}
{{if session.auth.user.funcao == 'supervisor':}}
<a id="button" class="btn btn-primary" href="{{=URL('initial','emprestimo2')}}" style="margin-left: 1050px; margin-top: -50px; margin-bottom: 5px;"><i class="icon-share-alt icon-white"></i> Voltar</a>
{{pass}}


<div class='row'>
<div class="span5">
<div class="well">

{{for dado in con:}}
<h5><i class=" icon-user"></i>&nbsp;&nbsp;<b>{{=dado.emprestimo.nome}}</b></h5>
<h5><i class=" icon-calendar"></i>&nbsp;&nbsp;<b>{{=dado.emprestimo.data_emp}}</b></h5>
<h5><i class=" icon-tag"></i>&nbsp;&nbsp;cpf: <b>{{=dado.emprestimo.cpf}}</b></h5>
<h5><i class=" icon-chevron-right"></i>&nbsp;&nbsp;orgão: <b>{{=dado.orgao.nome}}</b></h5>
<h5><i class=" icon-chevron-right"></i>&nbsp;&nbsp;agente: <b>{{=dado.emprestimo.vendedora}}</b></h5>
{{pass}}

</div><!--span5-->
</div><!--span5-->



<div class="span5">
<div class="well">

{{for dado in con:}}
<!--python validando-->
{{
banco = ""
if dado.emprestimo.banco != None:
banco=db(db.banco.id == dado.emprestimo.banco).select(db.banco.nome)
banco = banco[0].nome
pass
}}
<h5><i class=" icon-barcode"></i>&nbsp;&nbsp;valor total: <b>{{=dado.emprestimo.valor_total}}</b></h5>
<h5><i class=" icon-barcode"></i>&nbsp;&nbsp;valor parcela: <b>{{=dado.emprestimo.valor_parcela}}</b></h5>
<h5><i class=" icon-plus-sign"></i>&nbsp;&nbsp;qtd parcelas: <b>{{=dado.emprestimo.n_parcelas}}</b></h5>
<h5><i class=" icon-chevron-right"></i>&nbsp;&nbsp;banco: <b>{{=banco}}</b></h5>
<h5><i class=" icon-chevron-right"></i>&nbsp;&nbsp;forma de envio: <b>{{=dado.envio.nome}}</b></h5>
{{pass}}

</div><!--span5-->
</div><!--well-->
</div><!--row-->

<div class="span10">
<div class="tabbable"><!-- /.tabbable -->
<ul class="nav nav-tabs">
<li class="active"><a href="#pane1" data-toggle="tab">Região</a></li>
<li><a href="#pane2" data-toggle="tab">Outros</a></li>
</ul>

<div class="tab-content"><!-- /.tab-content -->
<div id="pane1" class="tab-pane active">
<div class="well">
{{for dado in con:}}
<!--python validando estado e escrevendo-->
{{
estado = ""
if dado.emprestimo.estado != None:
estado=db(db.estados.id == dado.emprestimo.estado).select(db.estados.nome)
estado = estado[0].nome
pass
}}
<h5><i class="  icon-map-marker"></i>&nbsp;&nbsp;<b>{{=estado}}</b></h5>
<h5><i class="  icon-map-marker"></i>&nbsp;&nbsp;<b>{{=dado.emprestimo.cidade}}</b></h5>
{{pass}}
</div>
</div>

<div id="pane2" class="tab-pane">
<div class="well">
{{for dado in con:}}
<h5><i class=" icon-info-sign"></i>&nbsp;&nbsp;telefone: <b>{{=dado.emprestimo.telefone}}</b></h5>
<h5><i class=" icon-book"></i>&nbsp;&nbsp;adesão: <b>{{=dado.emprestimo.adesao}}</b></h5>
{{pass}}
</div>
</div>

</div>
</div>


{{end}}