{{extend 'layout.html'}}

{{block center}}
<a id="button" class="btn btn-primary" href="#myModal" data-toggle="modal" rel="popover" data-content="{{=lem}}" data-original-title="Nota" style="margin-left: 1050px; margin-top: -50px; margin-bottom: 5px;">Agendamento</a>



<div class='row'>
<div class="span5">
<div class="well">
{{=form.custom.begin}}

<div>
<label>orgão:</label> 
<div>{{=form.custom.widget.orgao}}</div>
<br>
</div>

<div>
<label>data:</label>
<div><input class="" id="emprestimo_data_emp" name="data_emp" type="text" value="{{=date}}" readonly></div>
<br>
</div>

<div>
<label>nome:</label> 
<div>{{=form.custom.widget.nome}}</div>
<br>
</div>

<div>
<label>cpf:</label> 
<div>{{=form.custom.widget.cpf}}</div>
<br>
</div>

<div >
<label>telefone:</label> 
<div>{{=form.custom.widget.telefone}}</div>
<br>
</div>


<div style="display: none;">
<label>estado:</label> 
<div>{{=form.custom.widget.estado}}</div>
<br>
</div>

<div style="display: none;">
<label>cidade:</label> 
<div><select class="generic-widget" id="emprestimo_cidade" name="cidade">
<option value=""></option>
</option></select></div>
<br>
</div>


</div><!--well-->
</div><!--span5-->


<div class="span5">
<div class="well">

<div >
<label>Forma de envio:</label> 
<div style="margin-left: -26px;">{{=form.custom.widget.envio}}</div>
<br>
</div>

<div>
<label>adesão</label> 
<div>{{=form.custom.widget.adesao}}</div>
</div>
<br>

<div>    
<label>valor total:</label> 
<div>{{=form.custom.widget.valor_total}}</div>
<br>
</div>

<div>
<label>valor da parcela:</label>
<div>{{=form.custom.widget.valor_parcela}}</div>
<br>
</div>

<div style="display: none;">
<label>operação:</label>
<div>{{=form.custom.widget.operacao}}</div>
<br>
</div>

<div>
<label>número de parcelas:</label> 
<div>{{=form.custom.widget.n_parcelas}}</div>
<br>
</div>

<div style="display: none;">
<label>banco:</label> 
<div>{{=form.custom.widget.banco}}</div>
<br>
</div>

<div style="display: none;">
<label>vendedora:</label> 
<div><input class="string invalidinput" id="emprestimo_vendedora" name="vendedora" type="text" value="{{=ls_user[0]}}" readonly>
</div>
<br>
</div>

<div style="display: none;">
<label>empresa:</label> 
<div>
    <select class="generic-widget" id="emprestimo_id_empresa" name="id_empresa" readonly>
        <option value="{{=ls_user[2]}}">{{=ls_user[1]}}</option></select>
</div>
<br>
</div>

<div style="display: none;">
<label>Contrato:</label> 
<div>{{=form.custom.widget.contrato}}</div>
<br>
</div>

<button type="submit" value="testaa" class="btn btn-primary">Enviar</button>
</div><!--well-->
</div><!--span-->

{{=form.custom.end}}
 

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Inserção de lemberete</h3>
  </div>

<div class="modal-body">
    {{=form_agen.custom.begin}}

    <div style="display: none">
    <label>Data</label>  
    {{=form_agen.custom.widget.data_emp}}
    </div>

    <label>Nome</label>  
    {{=form_agen.custom.widget.nome}}

    <label>Cpf</label>  
    {{=form_agen.custom.widget.cpf}}
    
    <label>Data2</label>  
    <input class="" id="agendamento_data_agen" name="data_agen" type="text" value="aaa-mm-dd">

    <label>Telefone</label>  
    {{=form_agen.custom.widget.telefone}}

    <label>Obs</label>
    <textarea class="text" cols="100" id="agendamento_obs" name="obs" rows="2"></textarea> 
    
    <div style="display: none;">
    <label>vendedora:</label> 
    <input class="string invalidinput" id="emprestimo_vendedora" name="vendedora" type="text" value="{{=ls_user[0]}}" readonly>
    </div>
</div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
    <button type="submit" class="btn btn-primary" name="Pesquisa">Salvar</i></button>
    {{=form_agen.custom.end}}
</div>

</div><!--modal-->

</div><!--row-->

</div><!--margin-->


<script>
  $("#button").click(function(){
    var nome  = document.getElementById('emprestimo_nome').value;
    alert(nome);
    $( agendamento_nome ).val( nome );
    var data  = document.getElementById('emprestimo_data_emp').value;
    alert(data);
    $( agendamento_data_emp ).val( data );
    var cpf  = document.getElementById('emprestimo_cpf').value;
    alert(cpf);
    $( agendamento_cpf ).val( cpf );
    var tel  = document.getElementById('emprestimo_telefone').value;
    alert(tel);
    $( agendamento_telefone ).val( tel );

});


   $("#emprestimo_estado").change(function(){
    var msg = $("#emprestimo_estado").val();
    //alert(msg);
      $.ajax({
         type: "POST",
         url: "cidades_json",
         data: {estado: $("#emprestimo_estado").val()},
         dataType: "json",
         success: function(json){
            var options = "";
            //alert(json[0].Nome);
            $.each(json, function(i, value){
                if (json[i].Estado == msg){
                //    alert(json[i].Nome);
                options += '<option value="' + json[i].Nome + '">' + json[i].Nome + '</option>';
                }
            });
            $("#emprestimo_cidade").html(options);
         }
      });
   });

$(function ()  
  { $("#button").popover({ placement: "bottom", trigger: "hover" });  
});  

</script>
{{end}}