{{extend 'layout.html'}}
<!--Emprestimos Totais-->

{{block center}}
<div style="margin-left:-30px; margin-right:-30px">

{{if session.auth.user.funcao == 'admin':}}
<div class="a" style="float:left; position:relative">
<button type="button" class="btn btn-primary" onclick=location.href="{{=URL(a='ubercred', c='initial', f='form_emprestimo')}}" >Adicionar</button>&nbsp;&nbsp;
</div>
{{pass}}

<!--Busca-->
<div class="a" style="float:left; position:relative; margin-left:0px">
<form action="busca_emp_total" method="POST">

<input id="busca_emp_total" name="cpf" class="span3" type="text" autocomplete="off" style="margin: 0 auto; width:190px" data-provide="typeahead" data-items="4" data-source="" placeholder="CPF para busca">

{{if session.auth.user.funcao != 'agente':}}
<select class="generic-widget" id="busca_mes" style="width:100px; height:28px" name="mes"><option value=""></option>
<option value="01">Janeiro</option>
<option value="02">Fevereiro</option>
<option value="03">Março</option>
<option value="04">Abril</option>
<option value="05">Maio</option>
<option value="06">Junho</option>
<option value="07">Julho</option>
<option value="08">Agosto</option>
<option value="09">Setembro</option>
<option value="10">Outubro</option>
<option value="11">Novembro</option>
<option value="12">Dezembro</option>
</select>
{{pass}}

{{
mostra2='display:none;'
if session.auth.user.funcao == 'admin':
    mostra2=''
pass
}}
<select class="generic-widget" id="sup" style="{{=mostra2}}width:150px; height:28px" name="sup">
<option value=""></option>
{{
opc=db(db.auth_user.funcao == 'supervisor').select(db.auth_user.username)
for opcao in opc:}}
<option value="{{=opcao.username}}">{{=opcao.username}}</option>
{{pass}}
</select>

<button type="submit" class="btn btn-primary" name="Pesquisa"><i class=" icon-search icon-white"></i></button>
</form>
</div><br>
<!--FIM Busca-->

<table class="table table-striped">
    <thead>
        <tr>
            <th>Data</th>
            <th>Nome</th>
            <th>Cpf</th>
            <th>V total</th>
            <th>Produto</th>
            <th>Status</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
    {{for dado in con:}}
    {{print dado}}
        <tr>
            <td style="border:1px solid #ADC2CC">{{=dado.emprestimo.data_emp}}</td>
            <td style="border:1px solid #ADC2CC">{{=dado.emprestimo.nome}}</td>
            <td style="border:1px solid #ADC2CC">
                {{if session.auth.user.funcao != 'agente':}}
                    <a href="{{=URL(a='ubercred', c='initial', f='situacao')}}?id_emp={{=dado.emprestimo.id}}">
                {{pass}}
                {{=dado.emprestimo.cpf}}</a>    
            </td>
            <td style="border:1px solid #ADC2CC">{{=dado.emprestimo.valor_total}}</td>
            <td style="border:1px solid #ADC2CC">
            {{
                if not db(db.produto.id == dado.emprestimo.id_produto).isempty():
                    =db(db.produto.id == dado.emprestimo.id_produto).select()[0]['nome']
                pass
            }}
            </td>
            <td style="border:1px solid #ADC2CC">
            {{if db(db.situacao.id_emprestimo == dado.emprestimo.id).count() > 0:
                id_status = db(db.situacao.id_emprestimo == dado.emprestimo.id).select().as_list()[-1]['id_status']
                =db(db.status.id == id_status).select(db.status.status)[0].status
            pass}}
            </td>

            <td style="border:1px solid #ADC2CC">
                {{if session.auth.user.funcao != 'agente':}}
                <!--<a href="{{=URL(a='ubercred', c='initial', f='situacao')}}?id_emp={{=dado.emprestimo.id}}">
                    <i class=" icon-hand-up"></i></a> &nbsp;&nbsp;-->
                <a href="{{=URL(a='ubercred', c='initial', f='form_emprestimo')}}?id_edit={{=dado.emprestimo.id}}">
                    <i class=" icon-edit"></i></a> &nbsp;&nbsp;
                <a href="{{=URL(a='ubercred', c='initial', f='detalhes_emprestimo')}}?id_det={{=dado.emprestimo.id}}">
                    <i class=" icon-zoom-in"></i></a> &nbsp;&nbsp;
                
                <a class="link" data-tabela="emprestimo" data-nome="{{=dado.emprestimo.nome}}" data-value="{{=dado.emprestimo.id}}" href="#">
                    <i class=" icon-trash"></i></a>
                {{pass}}
            </td>
        </tr>
    {{pass}}
    </tbody>
</table>
{{if res_pesquisa is False:}}
<br><br>
<h4 style="text-align:center">
Nenhum resultado foi encontrado</h4>
{{pass}}


{{
    mes = request.vars.mes
    cpf = request.vars.cpf
    sup = request.vars.sup
}}
<!-- Paginacao -->
{{if paginacao == 'on':}}
<div class="pagination">
    <ul class="pagination">
        {{if end != paginate:}}<!--maior que 10 não escreve anterior-->
        <li><a href={{=URL(vars={'page':int(request.vars.page)-1, 'mes':mes, 'cpf':cpf, 'sup':sup})}}>Anterior</a></li>
        {{pass}}

        {{for num in range((regis // paginate)+x):
            num = num +1}}
        {{if num == int(request.vars.page):}}
        <li class="active"><a href={{=URL(vars={'page':num, 'mes':mes, 'cpf':cpf, 'sup':sup})}}>{{=num}}</a></li>
        {{else:}}
        <li><a href={{=URL(vars={'page':num, 'mes':mes, 'cpf':cpf, 'sup':sup})}}>{{=num}}</a></li>
        {{pass}}
        {{pass}}

        {{if not end >= regis:}}<!--nao escreve proximo (ultima pagina)-->
        <li class="active">
        <li><a href={{=URL(vars={'page':int(request.vars.page)+1, 'mes':mes, 'cpf':cpf, 'sup':sup})}}>Próximo</a></li>
        {{pass}}
    </ul>
</div>
{{pass}}
</div>



<script>
var links = document.querySelectorAll('.link');
for (x in links) {
    links[x].onclick = function() { 
    var data_attr = this.dataset;
    //alert(data_attr.value);
    var id   = data_attr.value;
    var nome = data_attr.nome;
    var tabela= data_attr.tabela;
    decisao = confirm("Tem certeza que deseja remover o item "+nome);
        if(decisao){
            location.href="{{=URL(a='ubercred', c='initial', f='delete')}}?id_tab="+id+"&tabela="+tabela+";"
        }
    return false;
    }
}

$.ajax({
method: "get",
url: "initial/cpf_json?func=total",
dataType: "json",
success: function(nome){
  $('#busca_emp_total').typeahead({source: nome});
}
});

</script>
{{end}}


{{block alert}}
{{if session.auth.user.funcao == "agente":}}
{{if response.alert_badge > 0:}}
<a href="{{=URL(a='ubercred', c='initial', f='agendamento_agt')}}">
  <span id="alerta_badge" class="badge badge-important" rel="popover" data-content="Você tem {{=response.alert_badge}} agendamentos para a data de hoje" data-original-title="Importante">
    <i class="icon-bell icon-white"></i>{{=response.alert_badge}}
  </span>
</a>
{{pass}}
{{pass}}
{{end}}