{{extend 'layout.html'}}
<!--Emprestimos Totais-->


{{block center}}
<div style="margin-left:-30px; margin-right:-30px">

{{if session.auth.user.funcao == 'admin':}}
<div class="a" style="float:left; position:relative">
<button type="button" class="btn btn-primary" onclick=location.href="{{=URL(a='ubercred', c='initial', f='form_emprestimo')}}" >Adicionar</button>&nbsp;&nbsp;
</div>
{{pass}}

<div class="a" style="float:left; position:relative; margin-left:0px">
<form action="busca_emp_total" method="POST">
<input id="busca_emp_total" name="cpf" class="span3" type="text" autocomplete="off" style="margin: 0 auto; width:190px" data-provide="typeahead" data-items="4" data-source="">
{{if session.auth.user.funcao != 'agente':}}
<select class="generic-widget" id="busca_mes" style="width:100px; height:28px" name="mes"><option value=""></option>
<option value="01">Janeiro</option><option value="02">Fevereiro</option><option value="03">Março</option><option value="04">Abril</option><option value="05">Maio</option><option value="06">Junho</option><option value="07">Julho</option><option value="08">Agosto</option><option value="09">Setembro</option><option value="10">Outubro</option><option value="11">Novembro</option><option value="12">Dezembro</option></select>
{{pass}}
<!--<input class="btn btn-primary" type="submit" name="Pesquisa" value="Pesquisar">-->
<button type="submit" class="btn btn-primary" name="Pesquisa"><i class=" icon-search icon-white"></i></button>
</form>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Data</th>
            <th>Nome</th>
            <th>Cpf</th>
            <th>Telefone</th>
            <th>Estado</th>
            <th>Cidade</th>
            <th>V parcela</th>
            <th>V total</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
    {{for dado in con:}}
        <tr>
            <td style="border:1px solid #ADC2CC">{{=dado.emprestimo.data_emp}}</td>
            <td style="border:1px solid #ADC2CC">{{=dado.emprestimo.nome}}</td>
            <td style="border:1px solid #ADC2CC">
                {{if session.auth.user.funcao != 'agente':}}
                <a href="{{=URL(a='ubercred', c='initial', f='situacao')}}?id_emp={{=dado.emprestimo.id}}">
                {{pass}}
                {{=dado.emprestimo.cpf}}</a>    
            </td>
            <td style="border:1px solid #ADC2CC">{{=dado.emprestimo.telefone}}</td>
            <td style="border:1px solid #ADC2CC">{{=dado.estados.sigla}}</td>
            <td style="border:1px solid #ADC2CC">{{=dado.emprestimo.cidade}}</td>
            <td style="border:1px solid #ADC2CC">{{=dado.emprestimo.valor_parcela}}</td>
            <td style="border:1px solid #ADC2CC">{{=dado.emprestimo.valor_total}}</td>

            <td style="border:1px solid #ADC2CC">
                {{if session.auth.user.funcao != 'agente':}}
                <!--<a href="{{=URL(a='ubercred', c='initial', f='situacao')}}?id_emp={{=dado.emprestimo.id}}">
                    <i class=" icon-hand-up"></i></a> &nbsp;&nbsp;-->
                <a href="{{=URL(a='ubercred', c='initial', f='form_emprestimo')}}?id_edit={{=dado.emprestimo.id}}">
                    <i class=" icon-edit"></i></a> &nbsp;&nbsp;
                <a href="{{=URL(a='ubercred', c='initial', f='detalhes_emprestimo')}}?id_det={{=dado.emprestimo.id}}">
                    <i class=" icon-zoom-in"></i></a> &nbsp;&nbsp;
                
                <a class="link" data-tabela="emprestimo" data-nome="{{=dado.emprestimo.nome}}" data-value="{{=dado.emprestimo.id}}" href="#">
                    <i class=" icon-trash"></i></a>
                {{pass}}
            </td>
        </tr>
    {{pass}}
    </tbody>
</table>

<!-- Paginacao -->
{{if paginacao == 'on':}}
<div class="pagination">
    <ul class="pagination">
        {{if end != paginate:}}<!--maior que 10 não escreve anterior-->
        <li><a href={{=URL(vars={'page':int(request.vars.page)-1})}}>Anterior</a></li>
        {{pass}}

        {{for num in range((regis // paginate)+x):
            num = num +1}}
        {{if num == int(request.vars.page):}}
        <li class="active"><a href={{=URL(vars={'page':num})}}>{{=num}}</a></li>
        {{else:}}
        <li><a href={{=URL(vars={'page':num})}}>{{=num}}</a></li>
        {{pass}}
        {{pass}}

        {{if not end >= regis:}}<!--nao escreve proximo (ultima pagina)-->
        <li class="active">
        <li><a href={{=URL(vars={'page':int(request.vars.page)+1})}}>Próximo</a></li>
        {{pass}}
    </ul>
</div>
{{pass}}

</div>

{{if session.auth.user.funcao == "agente":}}
<div style="margin-left: 950px;">
<!--<h5>Soma dos contratos: {{=soma}}</h5>-->
<table style="width:250px" class="table table-bordered">
        <thead>
        <tr>
            <th>Meta</th>
            <th>Total</th>
        </tr>
    </thread>
    <tbody>
  <tr>
    <td><span class="label label-success">
        {{=session.auth.user.meta}}</span></td>
    <td><span class="label label-important">
        {{=soma}}</span></td>
  </tr>
</tbody>
</table>
</div>
{{pass}}

<script>
var links = document.querySelectorAll('.link');
for (x in links) {
    links[x].onclick = function() { 
    var data_attr = this.dataset;
    //alert(data_attr.value);
    var id   = data_attr.value;
    var nome = data_attr.nome;
    var tabela= data_attr.tabela;
    decisao = confirm("Tem certeza que deseja remover o item "+nome);
        if(decisao){
            location.href="{{=URL(a='ubercred', c='initial', f='delete')}}?id_tab="+id+"&tabela="+tabela+";"
        }
    return false;
    }
}

$.ajax({
method: "get",
url: "initial/cpf_json?func=total",
dataType: "json",
success: function(nome){
  $('#busca_emp_total').typeahead({source: nome});
}
});

</script>
{{end}}


{{block alert}}
{{if session.auth.user.funcao == "agente":}}
{{if response.alert_badge > 0:}}
<a href="{{=URL(a='ubercred', c='initial', f='agendamento_agt')}}">
  <span id="alerta_badge" class="badge badge-important" rel="popover" data-content="Você tem {{=response.alert_badge}} agendamentos para a data de hoje" data-original-title="Importante">
    <i class="icon-bell icon-white"></i>{{=response.alert_badge}}
  </span>
</a>
{{pass}}
{{pass}}
{{end}}